<?xml version="1.0"?>
<!-- 
    Примечание. Кроме редактирования этого файла вручную, можно также использовать 
    средство администрирования веб-узла для настройки параметров приложения. Для этого
    используется пункт "Веб-узел->Конфигурация ASP.NET" в Visual Studio.
    Полный перечень параметров и комментариев находится 
    в файле machine.config.comments, который обычно расположен в папке 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key="ExternalElectronicBookViewer" value="http://opac.libfl.ru/elcir/viewer.aspx"/>
    <add key="IndoorElectronicBookViewer" value="http://192.168.4.28/elcir/viewer.aspx"/>
  </appSettings>
  <connectionStrings>
    <add name="Zakaz" connectionString="Data Source=192.168.4.25,1443;Initial Catalog=Reservation_E;Persist Security Info=True;User ID=EmplOrd;Password=Employee_Order;Connection Timeout = 1200" providerName="System.Data.SqlClient"/>
    <add name="BJVVV" connectionString="Data Source=192.168.4.25,1443;Initial Catalog=BJVVV;Persist Security Info=True;User ID=EmplOrd;Password=Employee_Order;Connection Timeout = 1200" providerName="System.Data.SqlClient"/>
    <add name="Tech" connectionString="Data Source=192.168.4.24,1442;Initial Catalog=TECHNOLOG_VVV;Persist Security Info=True;User ID=EmplOrd;Password=Employee_Order;Connection Timeout = 1200" providerName="System.Data.SqlClient"/>
    <add name="Debug" connectionString="Data Source=127.0.0.1\SQL2008R2;Initial Catalog=Reservation_E;Integrated Security=True;Connection Timeout = 1200" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <location path="Default2.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="PassRec.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="PassRec_ChooseT.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="OrderElCopy.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="loginbrit.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="passrecbrit.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="help.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="images">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ext">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="jquery.js">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="jquery.keyboardLayout.css">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="jquery.keyboardLayout.js">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Значение параметра compilation debug="true" означает, 
            что в компилированную страницу будут вставлены отладочные символы. Так как этот 
            параметр влияет на производительность, 
            следует устанавливать в нем значение True только на этапе разработки.
        -->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            Раздел <authentication> позволяет настроить параметры 
            режима проверки подлинности, используемого ASP.NET для проверки 
            подлинности пользователя, запрашивающего разрешение на доступ. 
        -->
    <!--
            Раздел <customErrors> позволяет настраивать 
            параметры действий на случай возникновения необработанных ошибок 
            во время выполнения запроса. А именно, 
            он позволяет разработчикам настраивать HTML-страницы 
            с сообщениями об ошибках, которые будут отображаться вместо трассировки стека ошибок. 

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <authentication mode="Forms">
      <forms loginUrl="~/loginemployee.aspx" path="/" protection="All" name="CookieTest" defaultUrl="~/default.aspx"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        Раздел system.webServer требуется для работы ASP.NET AJAX в
        Internet Information Services 7.0.  Он не требуется для более ранней версии IIS.
    -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="true" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://opac.libfl.ru/LIBFLDataProviderAPI/Service.asmx" binding="basicHttpBinding" bindingConfiguration="ServiceSoap" contract="LibflAPI.ServiceSoap" name="ServiceSoap"/>
    </client>
  </system.serviceModel>
</configuration>