<?xml version="1.0"?>
<!-- 
    Примечание. Кроме редактирования этого файла вручную, можно также использовать 
    средство администрирования веб-узла для настройки параметров приложения. Для этого
    используется пункт "Веб-узел->Конфигурация ASP.NET" в Visual Studio.
    Полный перечень параметров и комментариев находится 
    в файле machine.config.comments, который обычно расположен в папке 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="Reservation_RConnectionString" connectionString="Data Source=192.168.4.25,1443;Initial Catalog=Reservation_R;User ID=TurnDig;Password=Turn_Dig_Books" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <location path="default.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="deleted.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="SelectRole.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Значение параметра compilation debug="true" означает, 
            что в компилированную страницу будут вставлены отладочные символы. Так как этот 
            параметр влияет на производительность, 
            следует устанавливать в нем значение True только на этапе разработки.
        -->
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--
            Раздел <authentication> позволяет настроить параметры 
            режима проверки подлинности, используемого ASP.NET для проверки 
            подлинности пользователя, запрашивающего разрешение на доступ. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="~/login.aspx" path="/" protection="All" name="CookieTest" defaultUrl="~/default.aspx"/>
    </authentication>
    <!--
            Раздел <customErrors> позволяет настраивать 
            параметры действий на случай возникновения необработанных ошибок 
            во время выполнения запроса. А именно, 
            он позволяет разработчикам настраивать HTML-страницы 
            с сообщениями об ошибках, которые будут отображаться вместо трассировки стека ошибок. 

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        Раздел system.webServer требуется для работы ASP.NET AJAX в
        Internet Information Services 7.0.  Он не требуется для более ранней версии IIS.
    -->
</configuration>