<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bytescout.PDFExtractor" version="9.1.0.3170" targetFramework="net35" />
  <package id="CrystalDecisions.CrystalReports.Engine" version="1.0.0" targetFramework="net35" />
  <package id="CrystalDecisions.ReportSource" version="1.0.0" targetFramework="net35" />
  <package id="CrystalDecisions.Shared" version="1.0.0" targetFramework="net35" />
  <package id="CrystalDecisions.Windows.Forms" version="1.0.0" targetFramework="net35" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net35" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net35" />
</packages>