<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Circulation.Properties.Settings.BRIT_SOVETConnectionString" connectionString="Data Source=192.168.3.63;Initial Catalog=BRIT_SOVET;Persist Security Info=True;User ID=sasha;Password=Corpse536" providerName="System.Data.SqlClient" />
        <add name="Circulation.Properties.Settings.BRIT_SOVET" connectionString="Data Source=192.168.4.7;Initial Catalog=BRIT_SOVET;Persist Security Info=True;User ID=tmpbrit;Password=brittmp" providerName="System.Data.SqlClient" />
        <add name="Circulation.Properties.Settings.BRIT_SOVET_Crystal" connectionString="Data Source=192.168.3.241;Initial Catalog=BRIT_SOVET;Persist Security Info=True;User ID=BJBritS_RW;Password=BJ_onlyReadWriteBS" providerName="System.Data.SqlClient" />
        <add name="Circulation.Properties.Settings.Reservation_RConnectionString" connectionString="Data Source=192.168.4.25,1443;Initial Catalog=Reservation_R;Persist Security Info=True;User ID=ReaderOrd;Password=Reader_Order" providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
